*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{

}

p {
  padding: 10px;
  background-color: #ffaaff;
}

.container{
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.small-container{
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
